* {
  margin: 0;
  padding: 0;
}
body .theme--light.v-application{
  background: $bg-gradient;
}
body section{
  background: transparent;
}
//Shadows
.shadow {
  &--light {
    box-shadow: $light-shadow;
  }

  &--medium {
    box-shadow: $medium-shadow;
  }

  &--dark {
    box-shadow: $dark-shadow;
  }

  &--darkest {
    box-shadow: $darkest-shadow;
  }
}

