$white: #FFF;
//Primary / Brand Colors
$dark-blue: #183358;
$red: #E5321B;
$darkest-grey: #2F2F2F;
//UI / Secondary
$blue: #0B59C4;
$green: #00B669;
$yellow: #FDC023;
$dark-grey: #8B98AB;
$medium-grey: #E1E2E6;
$light-grey: #F4F4F4;
$white-grey: #F9FAFB;
