.sign-up-title {
  font-weight: 500;
  font-size: 18px;
  color: $dark-blue;
}
.sign-up-info {
  font-weight: normal;
  font-size: 14px;
  color: $dark-grey;
}
.sign-up-form {
  max-width: 500px;
  margin: auto;
}
.sign-up-description {
  color: $dark-grey;
  font-size: 11px;
  padding-left: 17px;
}
